@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html, body { @apply h-full overflow-hidden; }

:root [data-theme='crimson'] {
	--theme-rounded-base: 6px;
	--theme-rounded-container: 6px;
}